* {
    margin: 0;
    padding: 0;
}

html,
body {
    text-align: center;
}

#wrapper {
    display: inline-block;
    width: 1024px;
    background: tomato;
    min-height: 1024px;
    margin: 10px 0;
    position: relative;
}

#header {
    height: 120px;
    line-height: 150px;
    width: 100%;
    background: #F8C800;
}

#logo {
    float: left;
    height: 120PX;
}

#organization {
    float: left;
    height: 120PX;
}

#main {
    width: 100%;
    min-height: 1024px;
}

#content {
    position: absolute;
    left: 550px;
}

#extras {
    position: absolute;
    left: 180px;
    width: 370px;
    height: 100%;
}

.box {
    width: 100%;
}

#footer {
    height: 70px;
    background: #F8C800;
}

#nav {
    width: 180px;
    height: 200px;
}

#nav ul {
    background-image: linear-gradient(to bottom, #F8C800, #ffffb3);
    list-style-type: none;
}

#nav li {
    height: 40px;
}

#nav a {
    text-decoration: none;
    color: #ff0000;
    background-color: transparent;
    display: block;
    border-bottom: 2px solid white;
    font-size: 13px;
    font-weight: bold;
    padding: 10px;
}

#nav a:hover {
    background: red;
    color: white;
    font-size: 15px;
}