body {
    font-family: sans-serif;
    font-size: 15px;
    text-align: center;
    color: white;
    padding: 50px;
    margin: 50px;
    background: lightblue;
}

#menu {
    /* background: gray; */
    height: 400px;
    /* width: 960px; */
    display: inline-block;
}


/* Sử dụng cho menu */

#menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: #F8C800;
}

#menu ul li {
    float: left;
    border-right: 1px solid white;
}

#menu ul li.dropdown {
    display: inline-block;
    width: 180px;
}

#menu ul li a:hover,
.dropdown:hover {
    background: red;
}

#menu li a,
.dropdown-btn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
}

#menu .dropdown-content {
    display: none;
    position: absolute;
    background: #F8C800;
    width: 180px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 2);
    z-index: 1;
}

#menu .dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
}

#menu .dropdown-content a:hover {
    background: red;
}

#menu .dropdown:hover .dropdown-content {
    display: block;
}