body {
    text-align: center;
    padding-top: 50px;
    font-size: 14px;
    color: black;
    opacity: 0.9;
    font-family: sans-serif;
    color: white;
    background: black;
}

#container {
    background: chocolate;
    width: 80%;
    height: 100%;
    display: inline-block;
    min-height: 300px;
}

#col-1 {
    /* background: red; */
    float: left;
    width: 35%;
}

#col-2 {
    /* background: green; */
    float: left;
    width: 20%;
}

#col-3 {
    /* background: blue; */
    float: left;
    width: 20%;
}

#col-4 {
    /* background: red; */
    float: right;
    width: 25%;
}

.box {
    padding: 10px;
    text-align: justify;
    min-height: 300px;
    line-height: 2;
    box-sizing: border-box;
    border-bottom: 1px solid white;
}

ul {
    display: inline-block;
    padding: 0px;
}

li {
    /* Loại bỏ dấu chấm trước li */
    list-style-type: none;
}

a {
    display: inline-block;
    text-decoration: none;
    color: white;
    padding: 2px;
    height: 25px;
    width: 100px;
    border-bottom: 1px solid red;
    text-align: center;
}

a:hover {
    background: yellow;
    color: red;
    display: inline-block;
    padding: 2px;
    height: 25px;
    width: 100px;
}